<body>
    <h1>Request a song here!</h1>
    <h3>Fill out this form and get a song in your inbox in a week's time!</h3>
    <form>
        <label for="name">Full name:</label><br>
        <input type="text" id="name" name="name" placeholder="Rivki Stern"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" size="25" placeholder="rivki@songwriting.com"><br><br>
        <label for="about">Please describe  in detail what kind of song you would like me to write and to what tune.</label><br>
        <textarea id="about" name="about" rows="4" cols="82" placeholder="Can you please write me a camp song to the tune of Aish by Yaakov Shweky. Our camp theme is ABC's where each day is a different letter in the alphabet."></textarea><br><br>
        <button id="submit" type="submit" value="Submit">Submit</button>
    </form>
</body>